PORT=4000
NODE_ENV=development
# DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE
LOG_LEVEL=debug
LOG_DIR=logs
LOG_SERVICE_NAME=silo-server
LOG_HTTP_ENDPOINT=
LOG_HTTP_LEVEL=info
LOG_HTTP_BEARER_TOKEN=
LOG_HTTP_USERNAME=
LOG_HTTP_PASSWORD=
JWT_SECRET=your-jwt-secret
JWT_REFRESH_SECRET=your-jwt-refresh-secret
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=your-email-user
EMAIL_PASS=your-email-password
CLIENT_URL=http://localhost:3000